* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
body,
html {
  height: 100%;
  width: 100%;
  background-color: #000;
}

:root {
  --color: rgb(21, 191, 21);
  --color1: #fff;
  --color2: rgb(16, 45, 16);
  --color3: rgb(5, 47, 5);
  --color4: #000;
}

main {
  height: 100%;
  width: 100%;
  background-color: var(--color);
  display: flex;
  align-items: center;
  justify-content: center;
}

main #panel {
  overflow: hidden;
  height: 80%;
  width: 80%;
  border-radius: 10px;
  background-color: var(--color1);
}

#p-top {
  padding: 0px 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  width: 100%;
  background-color: var(--color2);
  color: var(--color1);
}

.elem {
  display: flex;
  align-items: center;
  gap: 20px;
}
.elem h2{
    font-weight: 500px;
    font-size: 22px;
}

.box {
  color: var(--color3);
  padding: 10px 20px;
  background-color: var(--color1);
  border-radius: 5px;
  font-weight: 600;
  font-size: 22px;
}

#p-bottom{
  width: 100%;
  height: calc(100% - 100px);
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  
  
}


.bubble{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: green;
    color: var(--color1);
    border-radius: 50%;
    font: weight 500px;;  
}
.bubble:hover{
    cursor: pointer;
    background-color: var(--color3);
}
